<form method="get" action="<%= search_animals_path %>" class="form-inline">
    <fieldset class="form-group">
      <input name="q"
      value="<%= params[:q] %>"
      placeholder="Scimitar-horned Oryx"
      class="form-control" >
    </fieldset>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
