<div class="Animal" style="float:left; padding: 5px;">
  <h3> <%= link_to animal.name, animal_path(animal) %> </h3>
  <h4> <%= animal.species.name %> </h4>
  <%= image_tag @animal.image.url(:large) %>
</div>
