<p id="notice"><%= notice %></p>

<div class="row">
  <h1 class="page-header">
    All Animals
    <small><%= link_to 'New Animal', new_facility_animal_path(@facility) %></small>
  </h1>
</div>

<div class="row">
  <%= render @animals %>
</div>



