<p>
  <strong>Animal:</strong>
  <%= @animal_match.animal.name %>
</p>

<p>
  <strong>Potential mate:</strong>
  <%= @animal_match.potential_mate_id %>
</p>

<%= link_to 'Edit', edit_animal_match_path(@animal_match) %> |
<%= link_to 'Back', animal_matches_path %>
